NODE_ENV=development
SERVICE_NAME=deliveroo-clone-notification-service
LOG_LEVEL=info
APP_VERSION=1.0.0

RABBITMQ_URL=amqp://127.0.0.1:5672
RABBITMQ_EXCHANGE=deliveroo.events
RABBITMQ_QUEUE=notification.events
